section {
  position: relative;
  margin-top: 40px;
  min-height: 700px;

  .page {
    font-size: 30px;
    color: var(--text-default);
    margin-bottom: 30px;
  }
}

.noTodo {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: var(--text-default);
}

.todos {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @media (max-width: 770px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.todo {
  border: none;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--menu-bg-default);
  position: relative;
}

.directory {
  position: absolute;
  top: -10px;
  right: 20px;
  background-color: var(--directory-bg-default);
  color: var(--directory-text-default);
  font-size: 18px;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--text-default);
}

.text {
  font-size: 20px;
  margin-bottom: 25px;
  color: var(--major-text-default);
}

.date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: var(--major-text-default);
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px dashed var(--major-text-default);

  p {
    margin: 0;
  }
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightOption {
  font-size: 26px;
  color: var(--major-text-default);
  display: flex;
  align-items: center;
  gap: 5px;

  span:hover {
    cursor: pointer;
  }

  span.important {
    color: red;
  }
}

.not {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-default);

  p {
    font-size: 60px;
    opacity: 0.3;
  }
}

@media (max-width: 700px) {
  .page {
    font-size: 24px !important;
  }
  .not p {
    font-size: 34px;
  }
  .noTodo {
    font-size: 34px;
  }
}
