.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}
.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  color: var(--major-text-default);

  p, h2 {
    margin:  0;
  }
}

.headerBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo_list {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.hamburger,
.avatar {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  color: var(--major-text-default);
}

@media (max-width: 1200px) {
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px !important;

    h2 {
      font-size: 16px;
    }
  }
}
